p {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.main-container {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.list-clients {
  margin: 0 2rem;
  width: 70%;
}
.add-client {
  margin-right: 2rem;
  width: 30%;
}
.options-client {
  text-align: end;
  padding: 1rem 0 !important;
  width: 6rem;
}

.edit-client {
  width: 40%;
  margin: 0 auto;
}
.title-clients {
  background-color: blueviolet;
  width: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 900px) {
  .main-container {
    flex-direction: column;
  }
  .list-clients {
    min-width: 100%;
    padding: 0 2rem;
    margin: 0; 
  }
  .add-client {
    min-width: 50%;
    margin: 0 auto;
  }
}