@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
	--base-bg-img: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
	--base-darker: rgb(51, 51, 51);
	--base-dark: #333333;
	--base-white: #fff;
	--toastify-color-error: #e74c3c;
}

* {
	font-family: Montserrat;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body,
.app {
	width: 100vw;
	height: 100%;
	background-color: #045de9;
	background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
	background-attachment: fixed;
}
.Toastify__toast-body * {
	color: var(--base-dark);
}
.app {
	padding: 3rem 1rem;
}
.main-navbar {
	background-color: var(--base-dark);
	height: 60px;
	width: 100vw;
	color: white;
	position: fixed;
}
.main-navbar-ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	height: 100%;
	width: 100%;
	padding: 0;
}
.main-navbar-ul > li {
	list-style: none;
}
.main-navbar-ul > li a {
	color: var(--base-white);
}
